body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  border: #00B7FF solid 1px;
  border-radius: 25px;
  padding: 5px;
  
}
a:hover{
  background-color: cyan;
}

li {
  margin: 20px;
  list-style: none;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}